<div class='container-fluid'>
  <div class="row gallery">
    <% @images.each_with_index do |image, index| %>
      <figure class='thumb' itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="<%= image.standard_res.url %>" class="thumbnail"
           data-size='<%= "#{image.standard_res.width}x#{image.standard_res.height}" %>'
           itemprop="contentUrl" data-index='<%= index %>'>
          <img class='img-responsive' itemprop="thumbnail" src='<%= image.thumbnail.url %>'
           height='<%= image.thumbnail.height %>' width='<%= image.thumbnail.width %>'>
        </a>
        <figcaption hidden itemprop="caption description">
          <%= image.caption['text'] if image.caption %>
        </figcaption>
      </figure>
    <% end %>
  </div>
</div>

<%= render "shared/photoswipe" %>
